<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <mat-form-field class="max-width" [appearance]="inputAppearance">
    <mat-label>{{ data.fieldName }}</mat-label>
    <input matInput required [(ngModel)]="data.value" (keyup.enter)="done()" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="new-item-actions">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    [mat-dialog-close]="data.value"
  >
    {{ data.doneButtonLabel }}
  </button>
</div>
