@use '../../styles.scss';

.group-title {
  text-align: center;
  margin-bottom: 16px;
}

.group-info-error {
  text-align: center;
}

.item-list-card {
  max-width: 600px;
  margin: auto;
}

.config-card {
  max-width: 600px;
  margin: auto;

  .config-section {
    margin-bottom: 8px;

    mat-checkbox {
      margin-bottom: 12px;
    }
  }
}

.general-config-error {
  margin-top: 8px;
}

.give-access {
  margin-top: 12px;
}

.success-message {
  padding-left: 0.75rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.success-message.success-show {
  opacity: 1;
}

.document-edit-requests {
  padding: 16px;
  @include styles.flex-grid(20em, 16px);

  .document-edit-request {
    a {
      text-decoration: none;
      width: 100%;
    }

    mat-card {
      @include styles.hover-zoom();

      mat-card-title {
        line-height: 1.2em;
        padding-bottom: 0;
        margin-bottom: 20px;
        @include styles.line-cutoff(2);
      }

      mat-card-subtitle {
        @include styles.line-cutoff(1);
      }

      mat-card-content {
        @include styles.line-cutoff(3);
      }
    }
  }
}
