<div *ngIf="groupInfo.id === ''; else groupInfoTemplate">
  <div *ngIf="!groupInfoError; else groupInfoErrorTemplate">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>

<ng-template #groupInfoTemplate>
  <div class="group-title">
    <h1>{{ groupInfo.name }}</h1>
    <span>{{ groupInfo.description }}</span>
  </div>
  <mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="Documents">
      <div *ngIf="canViewDetails; else cannotViewDetailsTemplate">
        <mdd-directory root [groupID]="groupID"></mdd-directory>
      </div>
    </mat-tab>
    <mat-tab label="Details" [disabled]="!canViewDetails">
      <div *ngIf="!gotDetails; else groupDetailsTemplate">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
    </mat-tab>
    <mat-tab label="Configuration" [disabled]="!isGroupOwner">
      <div *ngIf="groupInfo.id === ''; else groupConfigTemplate">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
    </mat-tab>
    <mat-tab [disabled]="!canViewDetails">
      <ng-template mat-tab-label>
        <span
          *ngIf="editRequests.length > 0"
          [matBadge]="editRequests.length"
          matBadgeOverlap="false"
          >Edit requests</span
        >
        <span *ngIf="editRequests.length === 0">Edit requests</span>
      </ng-template>
      <div *ngIf="!gotEditRequests; else editRequestsTemplate">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #groupInfoErrorTemplate>
  <span class="group-info-error error-text">Error: {{ groupInfoError }}</span>
</ng-template>

<ng-template #groupDetailsTemplate>
  <div class="card-container item-list-card">
    <mat-card>
      <mat-card-title>Group owner and creator</mat-card-title>
      <mat-card-content>
        <mat-list class="item-list">
          <mat-list-item>
            <span class="item-primary">{{ groupOwner.username }}</span>
            <span class="item-secondary">Owner</span>
          </mat-list-item>
          <mat-list-item *ngIf="groupCreator">
            <span class="item-primary">{{ groupCreator.username }}</span>
            <span class="item-secondary">Creator</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-container item-list-card">
    <mat-card>
      <mat-card-title>Users with access</mat-card-title>
      <mat-card-content>
        <mat-list
          *ngIf="usersWithAccess.length > 0; else noUsersWithAccess"
          class="item-list"
        >
          <mat-list-item *ngFor="let user of usersWithAccess">
            <span class="item-primary">{{ user.username }}</span>
            <span class="item-secondary">{{ user.join_time | date }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #groupConfigTemplate>
  <div class="card-container config-card">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>General</mat-panel-title>
          <mat-panel-description
            >Configure the group name and description</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="config-section">
          <p>You can customize the name and description of the group below.</p>
          <form #generalConfigForm="ngForm" (ngSubmit)="onSetGeneralConfig()">
            <mat-form-field [appearance]="inputAppearance" class="max-width">
              <mat-label>Name</mat-label>
              <input
                matInput
                type="text"
                id="name"
                name="name"
                maxlength="255"
                required
                [(ngModel)]="groupName"
              />
            </mat-form-field>
            <mat-form-field [appearance]="inputAppearance" class="max-width">
              <mat-label>Description</mat-label>
              <input
                matInput
                type="text"
                id="description"
                name="description"
                maxlength="1023"
                [(ngModel)]="groupDescription"
              />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="submittingGeneralConfigForm"
            >
              Save
            </button>
            <div *ngIf="generalConfigErrors" class="general-config-error">
              <div *ngFor="let error of generalConfigErrors">
                <small class="error-text">{{ error }}</small>
              </div>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Visibility</mat-panel-title>
          <mat-panel-description
            >Set the visibility of the group</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="config-section">
          <p>
            With visibility enabled, people outside the group will be able to
            see group documents, users with access, and configured options.
          </p>
          <form #setVisibilityForm="ngForm" (ngSubmit)="onSetVisibility()">
            <section>
              <mat-checkbox
                color="primary"
                id="visibility"
                name="visibility"
                [(ngModel)]="groupInfo.details_visible"
                >Details visible</mat-checkbox
              >
            </section>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="submittingVisibilityForm"
            >
              Save
            </button>
            <div *ngIf="setVisibilityError" class="form-error-text">
              <small>
                {{ setVisibilityError }}
              </small>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Searchability</mat-panel-title>
          <mat-panel-description
            >Set the searchability of the group</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="config-section">
          <p>
            With searchability enabled, people will be able to see the group in
            search results.
          </p>
          <form
            #setSearchabilityForm="ngForm"
            (ngSubmit)="onSetSearchability()"
          >
            <section>
              <mat-checkbox
                color="primary"
                id="searchability"
                name="searchability"
                [(ngModel)]="groupInfo.searchable"
                >Group searchable</mat-checkbox
              >
            </section>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="submittingSearchabilityForm"
            >
              Save
            </button>
            <div *ngIf="setSearchabilityError" class="form-error-text">
              <small>
                {{ setSearchabilityError }}
              </small>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Permissions</mat-panel-title>
          <mat-panel-description
            >Configure group permissions</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="config-section">
          <p>
            Users can be granted the ability to edit documents and approve
            edits. You can configure which class of user can do each below.
          </p>
          <form #setPermissions="ngForm" (ngSubmit)="onSetPermissions()">
            <section>
              <mat-form-field [appearance]="inputAppearance">
                <mat-label>Permission to edit documents</mat-label>
                <mat-select [(value)]="groupInfo.edit_documents_permission_id">
                  <mat-option
                    *ngFor="let permissionType of permissionNames | keyvalue"
                    [value]="permissionType.key"
                    >{{ permissionType.value }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </section>
            <section>
              <mat-form-field [appearance]="inputAppearance">
                <mat-label>Permission to approve edits</mat-label>
                <mat-select [(value)]="groupInfo.approve_edits_permission_id">
                  <mat-option
                    *ngFor="let permissionType of permissionNames | keyvalue"
                    [value]="permissionType.key"
                    >{{ permissionType.value }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </section>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="submittingPermissionsForm"
            >
              Save
            </button>
            <div *ngIf="setPermissionsError" class="form-error-text">
              <small>
                {{ setPermissionsError }}
              </small>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Group access</mat-panel-title>
          <mat-panel-description
            >Give or deny users access</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="config-section">
          <p>
            Depending on the group permissions set, a specific group of users
            can be allowed to edit documents or approve document edits. You can
            configure this who is in this group of users below. Search for users
            by username or select from your list of favorite users to grant
            access.
          </p>
          <mat-tab-group dynamicHeight mat-align-tabs="center">
            <mat-tab label="Search">
              <div class="card-container">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>Grant access</mat-panel-title>
                      <mat-panel-description
                        >Grant group access by username</mat-panel-description
                      >
                    </mat-expansion-panel-header>
                    <form
                      #searchGiveAccess="ngForm"
                      (ngSubmit)="onGiveAccessViaSearch(searchGiveAccess.value)"
                      class="give-access"
                    >
                      <mat-form-field
                        [appearance]="inputAppearance"
                        class="max-width"
                      >
                        <mat-label>Username</mat-label>
                        <input
                          matInput
                          type="text"
                          id="username"
                          name="username"
                          maxlength="63"
                          required
                          ngModel
                        />
                      </mat-form-field>
                      <button
                        mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="submittingGiveAccessViaSearch"
                      >
                        Give access
                      </button>
                      <small
                        class="success-message"
                        [ngClass]="{
                          'success-show':
                            showGiveAccessViaSearchSuccess === true
                        }"
                      >
                        <mat-icon>check</mat-icon>
                      </small>
                      <div
                        *ngIf="giveAccessViaSearchError"
                        class="form-error-text"
                      >
                        <small>
                          {{ giveAccessViaSearchError }}
                        </small>
                      </div>
                    </form>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>Revoke access</mat-panel-title>
                      <mat-panel-description
                        >Revoke group access</mat-panel-description
                      >
                    </mat-expansion-panel-header>
                    <mat-list class="item-list">
                      <mat-list-item *ngFor="let user of usersWithAccess">
                        <div class="space-between">
                          <div>
                            <span class="item-primary">{{
                              user.username
                            }}</span>
                            <span class="item-secondary">{{
                              user.join_time | date
                            }}</span>
                          </div>
                          <button
                            mat-icon-button
                            matTooltip="Revoke access"
                            (click)="onRevokeAccess(user.id)"
                          >
                            <mat-icon>person_remove</mat-icon>
                          </button>
                        </div>
                      </mat-list-item>
                    </mat-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </mat-tab>
            <mat-tab label="Favorites">
              <mat-list class="item-list">
                <mat-list-item *ngFor="let user of favoriteUsers">
                  <div class="space-between">
                    <div>
                      <span class="item-primary">{{ user.username }}</span>
                      <span class="item-secondary">{{
                        user.join_time | date
                      }}</span>
                    </div>
                    <button
                      *ngIf="user.hasAccess"
                      mat-icon-button
                      matTooltip="Revoke access"
                      color="primary"
                      (click)="onRevokeAccess(user.id)"
                    >
                      <mat-icon>person_remove</mat-icon>
                    </button>
                    <button
                      *ngIf="!user.hasAccess"
                      mat-icon-button
                      matTooltip="Grant access"
                      (click)="onGrantAccess(user.id)"
                    >
                      <mat-icon>person_add</mat-icon>
                    </button>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Pass ownership</mat-panel-title>
          <mat-panel-description
            >Give ownership to another user</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="config-section">
          <p>
            You have the option to pass ownership of this group to another user.
            The user must be one of your favorited users. Note that you can only
            regain ownership if it is given back to you.
          </p>
          <form
            #passOwnershipForm="ngForm"
            (ngSubmit)="onPassOwnership(passOwnershipForm.value)"
          >
            <div class="pass-ownership-radio">
              <mat-radio-group id="newOwner" name="newOwner" required ngModel>
                <mat-radio-button
                  *ngFor="let user of favoriteUsers"
                  value="{{ user.id }}"
                  color="primary"
                  class="block"
                  >{{ user.username }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="submittingPassOwnershipForm"
            >
              Pass ownership
            </button>
            <div *ngIf="passOwnershipError" class="form-error-text">
              <small>{{ passOwnershipError }}</small>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Delete group</mat-panel-title>
          <mat-panel-description
            >Delete the group and all contents within</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="config-section">
          <p>
            This will delete the group and all documents contained within in.
            Please be certain.
          </p>
          <button
            mat-raised-button
            color="primary"
            (click)="deleteGroupConfirmation()"
          >
            Delete group
          </button>
          <mdd-confirm
            title="Delete group"
            confirmMessage="Are you sure you want to delete this group and all documents within in?"
            (close)="onDeleteGroup($event)"
          ></mdd-confirm>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>

<ng-template #editRequestsTemplate>
  <div
    *ngIf="editRequests.length > 0; else noEditRequests"
    class="document-edit-requests"
  >
    <div *ngFor="let editRequest of editRequests" class="document-edit-request">
      <a routerLink="/document-edit/{{ editRequest.id }}">
        <mat-card>
          <mat-card-title>{{ editRequest.description }}</mat-card-title>
          <mat-card-subtitle>{{
            editRequest.edit_request_time | date
          }}</mat-card-subtitle>
          <mat-card-content>{{ editRequest.new_content }}</mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #cannotViewDetailsTemplate>
  <div class="invalid-permissions-text">
    You do not have permission to view the contents of this group.
  </div>
</ng-template>

<ng-template #noUsersWithAccess>
  <div class="centered-text">No users have access to this group.</div>
</ng-template>

<ng-template #noEditRequests>
  <div class="centered-text std-padding-y">
    There are currently no edit requests for documents in this group.
  </div>
</ng-template>
