.group-title {
  text-align: center;
  margin-bottom: 16px;
}

.group-info-error {
  text-align: center;
}

.users-with-access-card {
  max-width: 600px;
  margin: auto;

  .users-with-access {
    .username {
      font-size: 1.2em;
      padding-right: 12px;
    }

    .join-time {
      font-size: 0.9em;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.config-card {
  max-width: 600px;
  margin: auto;

  .config-section {
    margin-bottom: 8px;

    mat-checkbox {
      margin-bottom: 12px;
    }
  }
}
