<div class="password-reset-page">
  <mat-card class="password-reset-card">
    <h1>Password Reset</h1>
    <div
      *ngIf="checkingResetID; else doneCheckingResetID"
      class="checking-password-reset"
    >
      <div *ngIf="!error; else errorCheckingResetID">
        Checking password reset request...
      </div>
    </div>
  </mat-card>
</div>

<ng-template #doneCheckingResetID>
  <div *ngIf="!resetID; else resetIDExists">
    <div *ngIf="!requestSuccess; else resetRequestSuccess">
      <p class="reset-info">
        If you have forgotten your password, simply enter your email address
        below. We will send you an email with a link to let you reset your
        password. Please use the link quickly, as it will expire after one hour.
        Do not share your link with anyone, or they may be able to gain access
        to your account.
      </p>
      <form
        #requestPasswordResetForm="ngForm"
        (ngSubmit)="onRequestPasswordReset(requestPasswordResetForm.value)"
      >
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            maxlength="63"
            required
            ngModel
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="submittingForm"
        >
          Request password reset
        </button>
        <div *ngIf="error" class="reset-password-error">
          <small class="error-text">{{ error }}</small>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #errorCheckingResetID>Error: {{ error }}</ng-template>

<ng-template #resetIDExists>
  <div *ngIf="validResetID; else invalidResetID">
    <div *ngIf="!resetSuccess; else passwordResetSuccess">
      <p class="reset-info">
        Please enter a new password below. You will only be able to reset your
        password while this link is valid. Do not share this link with anyone.
      </p>
      <form
        #passwordResetForm="ngForm"
        (ngSubmit)="onPasswordReset(passwordResetForm.value)"
      >
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>New password</mat-label>
          <input
            matInput
            type="password"
            id="password"
            name="password"
            maxlength="255"
            required
            ngModel
          />
        </mat-form-field>
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>Confirm new password</mat-label>
          <input
            matInput
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            maxlength="255"
            required
            ngModel
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="submittingForm"
        >
          Reset password
        </button>
        <div *ngIf="error" class="reset-password-error">
          <small class="error-text">{{ error }}</small>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #resetRequestSuccess>
  Success! You have requested a password reset. We've sent you an email
  containing a link to reset your password. Simply click the link in the email
  and you will be able to set a new password. Note that the link will expire
  after one hour.
</ng-template>

<ng-template #invalidResetID>
  <p class="password-reset-error-msg error-text">
    Error: Invalid password reset ID
  </p>
  <p class="password-reset-error">
    This may have occurred because your link expired or because you have already
    reset your password. Please
    <a routerLink="/password-reset" class="standard-link"
      >request another password reset</a
    >, bearing in mind you have one hour to reset it. If this problem persists,
    please
    <a
      href="https://github.com/WKHAllen/GreenPoll/issues/new"
      target="_blank"
      class="standard-link"
      >create an issue for it on GitHub</a
    >.
  </p>
</ng-template>

<ng-template #passwordResetSuccess>
  Success! Your password has been reset. You may now proceed to
  <a routerLink="/login" class="standard-link">the login page</a>. You may also
  delete the email we sent you, as it will serve no further purpose.
</ng-template>
