.password-reset-page {
  max-width: 600px;
  margin: auto;
}

.password-reset-card {
  padding: 20px;
}

.checking-password-reset,
.password-reset-error-msg {
  text-align: center;
}

.reset-info,
.password-reset-error {
  text-align: justify;
}

.reset-password-error {
  margin-top: 8px;
}
