/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
}

a.standard-link {
  color: blue;
  text-decoration: none;
  transition: color 0.1s ease;

  &:hover {
    color: darken(blue, 15%);
    text-decoration: underline;
  }

  &:active {
    color: darken(blue, 25%);
  }
}

.max-width {
  width: 100%;
}

.error-text {
  color: red;
}

.form-error-text {
  color: red;
  margin-top: 8px;
}

.centered-text {
  text-align: center;
}

.spinner {
  text-align: center;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin full-center {
  @include centerer(true, true);
}
