$document-edit-border: 1px solid rgba(0, 0, 0, 0.15);

.document-edit-container {
  padding-top: 16px;

  .document-edit {
    border: $document-edit-border;
    border-radius: 6px;

    .document-edit-toolbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 4px;
      border-bottom: $document-edit-border;

      .document-edit-toolbar-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 8px;

        & > * {
          margin: 0;
        }
      }

      .document-edit-toolbar-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4px;
      }
    }

    .document-edit-content {
      padding: 12px;
    }
  }
}

.document-preview-container {
  padding-top: 16px;

  .document-preview {
    border: $document-edit-border;
    border-radius: 6px;

    .document-preview-content {
      padding: 12px;
    }
  }
}
