<div *ngIf="!gotDetails; else documentEditTemplate">
  <div *ngIf="documentEditExists; else documentEditDoesNotExist">
    <div *ngIf="!documentInfoError; else documentInfoErrorTemplate">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </div>
</div>

<ng-template #documentEditTemplate>
  <h1>Document Editor</h1>
  <div
    *ngIf="canViewDetails; else cannotViewDetailsTemplate"
    class="document-edit-container"
  >
    <div class="document-edit">
      <div class="document-edit-toolbar">
        <div class="document-edit-toolbar-title">
          <mdd-path [documentID]="documentID"></mdd-path>
        </div>
        <div class="document-edit-toolbar-items">
          <button
            mat-icon-button
            matTooltip="Return to document"
            (click)="openReturnToDocumentDialog()"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Submit changes for review"
            (click)="openRequestDocumentEditDialog()"
            [disabled]="documentInfo.content === newContent"
          >
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Help" (click)="openHelpDialog()">
            <mat-icon>help</mat-icon>
          </button>
        </div>
      </div>
      <div class="document-edit-content">
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>Document content</mat-label>
          <textarea
            matInput
            type="text"
            rows="24"
            wrap="off"
            id="content"
            name="content"
            maxlength="65535"
            [(ngModel)]="newContent"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #documentInfoErrorTemplate>
  <div class="centered-text error-text">Error: {{ documentInfoError }}</div>
</ng-template>

<ng-template #cannotViewDetailsTemplate>
  <div class="invalid-permissions-text">
    You do not have permission to view this document.
  </div>
</ng-template>

<mdd-confirm
  #returnToDocumentDialog
  title="Return to document"
  confirmMessage="You have unsaved changes! Are you sure you want to exit and return to the document?"
  (close)="returnToDocument($event)"
></mdd-confirm>

<mdd-new-item
  #requestDocumentEditDialog
  title="Description of edit"
  fieldName="Description"
  doneButtonLabel="Submit"
  (close)="requestDocumentEdit($event)"
></mdd-new-item>

<mdd-document-edit-help #helpDialog></mdd-document-edit-help>

<ng-template #documentEditDoesNotExist>
  <mdd-does-not-exist name="document"></mdd-does-not-exist>
</ng-template>
