<div *ngIf="!gotDetails; else directoryTemplate">
  <div *ngIf="!directoryInfoError; else directoryInfoErrorTemplate">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>

<ng-template #directoryTemplate>
  <div
    class="directory-container"
    [ngClass]="{ 'directory-container-root': isRoot }"
  >
    <div class="directory">
      <div class="directory-toolbar">
        <div class="directory-toolbar-title">
          <mdd-path [root]="root" [directoryID]="directoryID"></mdd-path>
        </div>
        <div class="directory-toolbar-items">
          <a
            *ngIf="!isRoot"
            mat-icon-button
            matTooltip="Go to group"
            routerLink="/group/{{ directoryInfo?.group_id || groupID }}"
          >
            <mat-icon>group</mat-icon>
          </a>
          <a
            *ngIf="
              directoryInfo?.parent_directory_id;
              else rootParentButtonTemplate
            "
            mat-icon-button
            matTooltip="Open parent directory"
            routerLink="/directory/{{ directoryInfo?.parent_directory_id }}"
          >
            <mat-icon>north</mat-icon>
          </a>
          <button
            mat-icon-button
            matTooltip="New directory"
            (click)="newDirectory()"
          >
            <mat-icon>create_new_folder</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="New document"
            (click)="newDocument()"
          >
            <mat-icon>note_add</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Copy link to directory"
            (click)="copyDirectoryLink()"
          >
            <mat-icon>link</mat-icon>
          </button>
        </div>
      </div>
      <div class="directory-content">
        <div
          *ngIf="
            directories.length > 0 || documents.length > 0;
            else noItemsTemplate
          "
        >
          <div *ngFor="let directory of directories" class="directory-item">
            <span class="directory-item-icon">
              <mat-icon class="directory-icon">folder</mat-icon>
            </span>
            <span>
              <a
                routerLink="/directory/{{ directory.id }}"
                class="standard-link"
                >{{ directory.name }}</a
              >
            </span>
          </div>
          <div *ngFor="let document of documents" class="directory-item">
            <span class="directory-item-icon">
              <mat-icon class="document-icon">insert_drive_file</mat-icon>
            </span>
            <span>
              <a
                routerLink="/document/{{ document.id }}"
                class="standard-link"
                >{{ document.name }}</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #directoryInfoErrorTemplate>
  <div class="centered-text error-text">Error: {{ directoryInfoError }}</div>
</ng-template>

<ng-template #rootParentButtonTemplate>
  <a
    *ngIf="!isRoot"
    mat-icon-button
    matTooltip="Open parent directory"
    routerLink="/group/{{ directoryInfo?.group_id }}"
  >
    <mat-icon>north</mat-icon>
  </a>
</ng-template>

<ng-template #noItemsTemplate>
  <div class="no-items-message">This directory is empty.</div>
</ng-template>
