$directory-border: 1px solid rgba(0, 0, 0, 0.15);

.directory-container-root {
  padding-top: 16px;
}

.directory-container {
  .directory {
    border: $directory-border;
    border-radius: 6px;

    .directory-toolbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 4px;
      border-bottom: $directory-border;

      .directory-toolbar-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 8px;

        & > * {
          margin: 0;
        }
      }

      .directory-toolbar-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4px;
      }
    }

    .directory-content {
    }
  }
}
