<div *ngIf="!gotDetails; else directoryTemplate">
  <div *ngIf="!directoryInfoError; else directoryInfoErrorTemplate">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>

<ng-template #directoryTemplate>
  <div
    class="directory-container"
    [ngClass]="{ 'directory-container-root': isRoot }"
  >
    <div class="directory">
      <div class="directory-toolbar">
        <div class="directory-toolbar-title">
          <mdd-path [root]="root" [directoryID]="directoryID"></mdd-path>
        </div>
        <div class="directory-toolbar-items">
          <a
            *ngIf="!isRoot"
            mat-icon-button
            matTooltip="Go to group"
            routerLink="/group/{{ directoryInfo?.group_id || groupID }}"
          >
            <mat-icon>group</mat-icon>
          </a>
          <a
            *ngIf="
              directoryInfo?.parent_directory_id;
              else rootParentButtonTemplate
            "
            mat-icon-button
            matTooltip="Open parent directory"
            routerLink="/directory/{{ directoryInfo?.parent_directory_id }}"
          >
            <mat-icon>north</mat-icon>
          </a>
          <button
            mat-icon-button
            matTooltip="New directory"
            (click)="newDirectoryDialog()"
          >
            <mat-icon>create_new_folder</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="New document"
            (click)="newDocumentDialog()"
          >
            <mat-icon>note_add</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Copy link to directory"
            (click)="copyDirectoryLink()"
          >
            <mat-icon>link</mat-icon>
          </button>
        </div>
      </div>
      <div class="directory-content">
        <div
          *ngIf="
            directories.length > 0 || documents.length > 0;
            else noItemsTemplate
          "
        >
          <div *ngFor="let directory of directories" class="directory-item">
            <div class="directory-item-label">
              <span class="directory-item-icon">
                <mat-icon class="directory-icon">folder</mat-icon>
              </span>
              <span>
                <a
                  routerLink="/directory/{{ directory.id }}"
                  class="standard-link"
                  >{{ directory.name }}</a
                >
              </span>
            </div>
            <div class="directory-item-menu">
              <button
                mat-icon-button
                matTooltip="Directory options"
                [matMenuTriggerFor]="directoryMenu"
                [matMenuTriggerData]="{ directoryID: directory.id }"
              >
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </div>
          <div *ngFor="let document of documents" class="directory-item">
            <div class="directory-item-label">
              <span class="directory-item-icon">
                <mat-icon class="document-icon">insert_drive_file</mat-icon>
              </span>
              <span>
                <a
                  routerLink="/document/{{ document.id }}"
                  class="standard-link"
                  >{{ document.name }}</a
                >
              </span>
            </div>
            <div class="directory-item-menu">
              <button
                mat-icon-button
                matTooltip="Document options"
                [matMenuTriggerFor]="documentMenu"
                [matMenuTriggerData]="{ documentID: document.id }"
              >
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #directoryInfoErrorTemplate>
  <div class="centered-text error-text">Error: {{ directoryInfoError }}</div>
</ng-template>

<ng-template #rootParentButtonTemplate>
  <a
    *ngIf="!isRoot"
    mat-icon-button
    matTooltip="Open parent directory"
    routerLink="/group/{{ directoryInfo?.group_id }}"
  >
    <mat-icon>north</mat-icon>
  </a>
</ng-template>

<ng-template #noItemsTemplate>
  <div class="no-items-message">This directory is empty.</div>
</ng-template>

<mdd-new-item
  #newDirectory
  title="New directory"
  fieldName="Directory name"
  doneButtonLabel="Create"
  (close)="createDirectory($event)"
></mdd-new-item>

<mdd-new-item
  #newDocument
  title="New document"
  fieldName="Document name"
  doneButtonLabel="Create"
  (close)="createDocument($event)"
></mdd-new-item>

<mat-menu #directoryMenu="matMenu" xPosition="before">
  <ng-template matMenuContent let-directoryID="directoryID">
    <button
      mat-icon-button
      matTooltip="View directory details"
      (click)="viewDirectoryInfo(directoryID)"
    >
      <mat-icon>info</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Rename directory"
      (click)="renameDirectoryDialog(directoryID)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Delete directory"
      (click)="deleteDirectoryDialog(directoryID)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #documentMenu="matMenu" xPosition="before">
  <ng-template matMenuContent let-documentID="documentID">
    <button
      mat-icon-button
      matTooltip="View document details"
      (click)="viewDocumentInfo(documentID)"
    >
      <mat-icon>info</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Rename document"
      (click)="renameDocumentDialog(documentID)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Delete document"
      (click)="deleteDocumentDialog(documentID)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</mat-menu>

<mdd-entity-info
  #directoryInfoDialog
  title="Directory info"
  [info]="selectedDirectoryInfo"
></mdd-entity-info>

<mdd-entity-info
  #documentInfoDialog
  title="Document info"
  [info]="selectedDocumentInfo"
></mdd-entity-info>
