$directory-border: 1px solid rgba(0, 0, 0, 0.15);

.directory-container-root {
  padding-top: 16px;
}

.directory-container {
  .directory {
    border: $directory-border;
    border-radius: 6px;
    overflow: hidden;

    .directory-toolbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 4px;
      border-bottom: $directory-border;

      .directory-toolbar-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 8px;

        & > * {
          margin: 0;
        }
      }

      .directory-toolbar-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4px;
      }
    }

    .directory-content {
      overflow: hidden;

      .directory-item {
        padding: 4px;
        display: flex;
        align-items: center;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        .directory-item-icon {
          display: flex;
          align-items: center;
          padding-right: 4px;
        }

        .directory-icon {
          color: #e4b300;
        }

        .document-icon {
          color: #adadb9;
        }
      }
    }
  }
}

.no-items-message {
  text-align: center;
  padding: 16px;
}
