@use '../../styles';

$user-image-size: 96px;

.user-image {
  margin: auto;
  border-radius: 9999px;
  overflow: hidden;
  width: $user-image-size;
  height: $user-image-size;

  img {
    width: $user-image-size;
    height: $user-image-size;
    object-fit: cover;
  }
}

.user-info {
  padding-inline-start: 0;
  text-align: center;
}

.user-info li {
  list-style: none;
  display: inline;
}

.user-info li:after {
  content: " \2022  ";
  padding: 0 8px;
}

.user-info li:last-child:after {
  content: none;
}

.settings-card,
.your-groups-card {
  max-width: 600px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 20px;
}

.success-message {
  padding-left: 0.75rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.success-message.success-show {
  opacity: 1;
}

.document-edit-requests {
  padding: 16px;
  @include styles.flex-grid(20em, 16px);
}

.document-edit-request {
  a {
    text-decoration: none;
    width: 100%;
  }

  mat-card {
    @include styles.hover-zoom();

    mat-card-title {
      line-height: 1.2em;
      padding-bottom: 0;
      margin-bottom: 20px;
      @include styles.line-cutoff(2);
    }

    mat-card-subtitle {
      @include styles.line-cutoff(1);
    }

    mat-card-content {
      @include styles.line-cutoff(3);
    }
  }
}

.add-favorite-user-card,
.search-groups-card {
  max-width: 600px;
  margin: 8px auto;
  padding: 20px;
}
