<h1>Profile</h1>
<mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab label="Settings">
    <div *ngIf="!gotUserInfo && !userInfoError; else settingsTemplate">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </mat-tab>
  <mat-tab label="Your groups">
    <div
      *ngIf="
        !gotUserGroupsOwned && !userGroupsOwnedError;
        else yourGroupsTemplate
      "
    >
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </mat-tab>
  <mat-tab label="Document edit requests">
    <div
      *ngIf="
        !gotUserDocumentEditRequests && !userDocumentEditRequestsError;
        else documentEditRequestsTemplate
      "
    >
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </mat-tab>
  <mat-tab label="Favorite users">
    <div
      *ngIf="
        !gotUserFavoriteUsers && !userFavoriteUsersError;
        else favoriteUsersTemplate
      "
    >
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </mat-tab>
  <mat-tab label="Favorite groups">
    <div
      *ngIf="
        !gotUserFavoriteGroups && !userFavoriteGroupsError;
        else favoriteGroupsTemplate
      "
    >
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #settingsTemplate>
  <mat-card class="settings-card">
    <mat-card-title>Your info</mat-card-title>
    <mat-card-content>
      <p *ngIf="userInfoError" class="user-info-error error-text">
        Error: {{ userInfoError }}
      </p>
      <ul *ngIf="gotUserInfo" class="user-info">
        <li>{{ userInfo.username }}</li>
        <li>{{ userInfo.email }}</li>
        <li>{{ userInfo.join_time | date }}</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="settings-card">
    <mat-card-title>Change your username</mat-card-title>
    <mat-card-content>
      <form
        #setUsernameForm="ngForm"
        (ngSubmit)="onSetUsername(setUsernameForm.value)"
      >
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>New username</mat-label>
          <input
            matInput
            type="text"
            id="username"
            name="username"
            maxlength="63"
            required
            ngModel
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="submittingUsernameForm"
        >
          Change username
        </button>
        <small
          class="success-message"
          [ngClass]="{ 'success-show': showUsernameSuccess === true }"
        >
          <mat-icon>check</mat-icon>
        </small>
        <div *ngIf="setUsernameError" class="form-error-text">
          <small>
            {{ setUsernameError }}
          </small>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="settings-card">
    <mat-card-title>Change your password</mat-card-title>
    <mat-card-content>
      <form
        #setPasswordForm="ngForm"
        (ngSubmit)="onSetPassword(setPasswordForm.value)"
      >
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>New password</mat-label>
          <input
            matInput
            type="password"
            id="password"
            name="password"
            maxlength="255"
            required
            ngModel
          />
        </mat-form-field>
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>Confirm new password</mat-label>
          <input
            matInput
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            maxlength="255"
            required
            ngModel
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="submittingUsernameForm"
        >
          Change password
        </button>
        <small
          class="success-message"
          [ngClass]="{ 'success-show': showPasswordSuccess === true }"
        >
          <mat-icon>check</mat-icon>
        </small>
        <div *ngIf="setPasswordError" class="form-error-text">
          <small>
            {{ setPasswordError }}
          </small>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="settings-card">
    <mat-card-title>Log out everywhere</mat-card-title>
    <mat-card-content>
      <p class="logout-everywhere-info">
        This will log you out of your account everywhere, on all devices.
      </p>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="logoutEverywhere()"
        [disabled]="logoutEverywhereClicked"
      >
        Log out everywhere
      </button>
      <div *ngIf="logoutEverywhereError" class="form-error-text">
        <small>
          {{ logoutEverywhereError }}
        </small>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #yourGroupsTemplate>
  <div class="groups-owned">
    <div *ngFor="let group of userGroupsOwned" class="group-owned">
      <a routerLink="/group/{{ group.id }}">
        <mat-card>
          <mat-card-title>{{ group.name }}</mat-card-title>
          <mat-card-subtitle>{{ group.create_time | date }}</mat-card-subtitle>
          <mat-card-content>{{ group.description }}</mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #documentEditRequestsTemplate>
  <div class="document-edit-requests">
    <div
      *ngFor="let editRequest of userDocumentEditRequests"
      class="document-edit-request"
    >
      <a routerLink="/document-edit-request/{{ editRequest.id }}">
        <mat-card>
          <mat-card-title>{{ editRequest.description }}</mat-card-title>
          <mat-card-subtitle>{{
            editRequest.edit_request_time | date
          }}</mat-card-subtitle>
          <mat-card-content>{{ editRequest.new_content }}</mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #favoriteUsersTemplate>
  <table class="favorite-users-table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Date joined</th>
        <th>Favorite</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let favoriteUser of userFavoriteUsers">
        <td>{{ favoriteUser.id }}</td>
        <td>{{ favoriteUser.username }}</td>
        <td>{{ favoriteUser.join_time | date }}</td>
        <td>
          <button mat-icon-button (click)="toggleFavoriteUser(favoriteUser.id)">
            <mat-icon *ngIf="favoriteUser.favorite" class="star-icon"
              >star</mat-icon
            >
            <mat-icon *ngIf="!favoriteUser.favorite" class="border-star-icon"
              >star_border</mat-icon
            >
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-card class="add-favorite-user-card">
    <mat-card-title>Add favorite user</mat-card-title>
    <mat-card-content>
      <form
        #addFavoriteUser="ngForm"
        (ngSubmit)="onAddFavoriteUser(addFavoriteUser.value)"
      >
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            id="username"
            name="username"
            maxlength="63"
            required
            ngModel
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="submittingAddFavoriteUserForm"
        >
          Favorite user
        </button>
        <small
          class="success-message"
          [ngClass]="{ 'success-show': showAddFavoriteUserSuccess === true }"
        >
          <mat-icon>check</mat-icon>
        </small>
        <div *ngIf="addFavoriteUserError" class="form-error-text">
          <small>
            {{ addFavoriteUserError }}
          </small>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #favoriteGroupsTemplate></ng-template>
