@use '../../styles.scss';

.user-info {
  padding-inline-start: 0;
  text-align: center;
}

.user-info li {
  list-style: none;
  display: inline;
}

.user-info li:after {
  content: " \2022  ";
  padding: 0 8px;
}

.user-info li:last-child:after {
  content: none;
}

.settings-card {
  max-width: 600px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 20px;
}

.success-message {
  padding-left: 0.75rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.success-message.success-show {
  opacity: 1;
}

.groups-owned,
.document-edit-requests {
  padding: 16px;
  @include styles.flex-grid(20em, 16px);
}

.group-owned,
.document-edit-request {
  a {
    text-decoration: none;
    width: 100%;

    mat-card {
      @include styles.hover-zoom();

      mat-card-title {
        line-height: 1.2em;
        padding-bottom: 0;
        margin-bottom: 20px;
        @include styles.line-cutoff(2);
      }

      mat-card-subtitle {
        @include styles.line-cutoff(1);
      }

      mat-card-content {
        @include styles.line-cutoff(3);
      }
    }
  }
}

.favorite-users-table {
  width: 100%;
  padding: 20px;

  th {
    text-align: left;
  }
}

.star-icon {
  color: gold;
  @include styles.hover-zoom(1.25);
}

.border-star-icon {
  color: gold;
  @include styles.grayscale();
  @include styles.hover-zoom(1.25);
}
