<mat-toolbar color="primary" class="header">
  <a mat-button href="/">
    <mat-icon>tag</mat-icon>
    <span>MD Docs</span>
  </a>
  <div class="header-icons-right">
    <a mat-icon-button routerLink="/search" matTooltip="Search">
      <mat-icon>search</mat-icon>
    </a>
    <div *ngIf="loggedIn; else notLoggedIn">
      <a mat-icon-button routerLink="/group" matTooltip="New group">
        <mat-icon>add</mat-icon>
      </a>
      <a mat-icon-button routerLink="/profile" matTooltip="Profile">
        <mat-icon>person</mat-icon>
      </a>
      <a mat-icon-button routerLink="/logout" matTooltip="Log out">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </div>
</mat-toolbar>

<ng-template #notLoggedIn>
  <a mat-icon-button routerLink="/login" matTooltip="Log in">
    <mat-icon>login</mat-icon>
  </a>
</ng-template>
